@media (min-width:980px)and(max-width:1215px) {
 .float-cols .control-label {
   float: none
 }
 .float-cols .controls {
   margin-left: 0
 }
}
table {
 max-width: 100%;
 background-color: #0000;
 border-collapse: collapse;
 border-spacing: 0
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local(OpenSans-Regular), url(/1nG/29hyun//1nG/29hyun//1nG/29hyun/cache/z/127.0.0.1/css/2TFb@z-mem8YaGs126MiZpBA-UFVZ0e.ttf) format("truetype")
}