@namespace svg https://google.com/;
a,
b,
strong,
.new {
 max-width: 100%;
 border-width: 0;
 color: green
}
@media all {
 div {
   background-color: #fff;
   color: #000
 }
 ul {
   margin: 0;
   padding: 5px 3px 3px
 }
}