a,
b,
strong,
.new {
 max-width: 100%;
 border-width: 0;
 color: green
}
.new {
 color: green
}
@media all {
 div {
   background-color: #fff;
   color: #000
 }
}
@namespace svg url(https://google.com/);