p {
 /* Functional syntax with floats value */
 color: #f09;
 color: #64050040;
 /* These examples all specify the same color: black. */
 /* color black black */
 /* color black #000 */
 /* color black #000000 */
 /* color black rgb(0, 0, 0) */
 /* color black rgba(0, 0, 0, 1) */
 /* color black #000000ff */
 color: #000;
 /* These examples all specify the same color: red. */
 /* color red red */
 /* color red #f00 */
 /* color red #f00F */
 /* color red #ff0000Ff */
 /* color red #ff0000 */
 /* color red rgb(255,0,0) */
 /* color red rgba(255,0,0,1); */
 /* color red rgb(100%, 0%, 0%) */
 /* color red hsl(0, 100%, 50%) */
 color: red;
 /* red 50% translucent #ff000080 */
 /* red 50% translucent rgba rgba(255, 0, 0, 0.5) */
 /* red 50% translucent hsla hsl(0, 100%, 50%, 0.5) */
 /* red 50% translucent hsla(0, 100%, 50%, 0.5) */
 color: #ff000080;
 /* These examples all specify the same color: a lavender. */
 /* lavender hsl(270,60%,70%) */
 /* lavender hsl(270, 60%, 70%) */
 /* lavender hsl(270 60% 70%) */
 /* lavender hsl(270deg, 60%, 70%) */
 /* lavender hsl(4.71239rad, 60%, 70%) */
 /* lavender hsl(.75turn, 60%, 70%) */
 /* lavender hsl(.75turn, 60%, 70%, 1) */
 color: #b385e0;
 /* These examples all specify the same color: a lavender that is 15% opaque. */
 /* lavender that is 15% opaque. hsl(270, 60%, 50%, .15) */
 /* lavender that is 15% opaque. hsl(270, 60%, 50%, 15%) */
 /* lavender that is 15% opaque. hsl(270 60% 50% / .15) */
 /* lavender that is 15% opaque. hsl(270 60% 50% / 15%) */
 color: #8033cc26
}