/* start: @import from css/css/url-import.css */
@media print {
 .url-imported {
   outline: 0;
   color: rgba(161, 161, 161, 0.63);
   background: url(css/img/d4ca075023f827d81478565989.png);
 }
}
/* end: @import from css/css/url-import.css */