@font-face {
  font-family: "Bitstream Vera Serif Bold";
  src: url(/static/styles/libs/font-awesome/fonts/fontawesome-webfont.fdf491ce5ff5.woff)
}
body {
 background-color: green;
 color: #fff;
 font-family: Arial,Helvetica,sans-serif
}
h1 {
 color: #fff;
 font-size: 50px;
 font-family: Arial,Helvetica,sans-serif;
 font-weight: bold
}
@media print {
 @font-face {
   font-family: MaHelvetica;
   src: local("Helvetica Neue Bold"),local("HelveticaNeue-Bold"),url(css/MgOpenModernaBold.ttf);
   font-weight: bold
 }
 body {
   font-family: "Bitstream Vera Serif Bold",serif
 }
 p {
   font-size: 12px;
   color: #000;
   text-align: left
 }
 @font-face {
   font-family: Arial,MaHelvetica;
   src: local("Helvetica Neue Bold"),local("HelveticaNeue-Bold"),url(css/MgOpenModernaBold.ttf);
   font-weight: bold
 }
}