@media print {
 @font-face {
   font-family: Arial, MaHelvetica;
   font-weight: bold;
   src: local("Helvetica Neue Bold"), local("HelveticaNeue-Bold"), url(css/MgOpenModernaBold.ttf)
 }
}
@font-face {
  font-family: "Bitstream Vera Serif Bold";
  src: url(/static/styles/libs/font-awesome/fonts/fontawesome-webfont.fdf491ce5ff5.woff)
}