body {
 border: 0
}
.short {
 background: url(css/img/d4ca075023f827d81478565989.png) no-repeat top left #ffdead
}
.element {
 color: rgb(0, 0, 0);
 background: url(css/img/d4ca075023f827d81478565989.png) no-repeat top left #c71585
}