@-moz-document url("https://www.example.com/") {
  h1 {
   color: green
 }
}
.element {
 color: rgb(0, 0, 0)
}
.elements {
 color: rgba(0, 0, 0, 0)
}
body {
 border: 0px;
 background: no-repeat rgba(153, 34, 17, .5)
}
.animate {
/* Multiple function values */
 transform: perspective(500px) translate(10px, 0px, 20px) rotateY(3deg)
}
/*
@import "import-media.css" print;
@import url('./css/url-import-media.css') all;
@import "import.css";
@import url('css/url-import.css');
*/
/* removed empty rules */
.removable {

}
/* removed empty @media */
@media all {
  .removable {

 }
 @media none {
    .removable {

  }
 }
}
@namespace url(http://www.w3.org/1999/xhtml);
@namespace svg url(http://www.w3.org/2000/svg);
/* Cela correspond à tous les éléments XHTML <a>
  car XHTML est l'espace de nom par défaut, sans
  préfixe. */
a {

}
/* Cela correspond à tous les éléments SVG <a> */
svg|a {

}
/* Cela correspond aux éléments <a> XHTML et SVG */
*|a {

}