/* this row */
table.colortable {

    /* clean all */
    text-shadow: none;

    color /* hidden */ : /* blues */ blue;
    & td {
      text-align:center;
      &.c { text-transform:uppercase }
      &:first-child, &:first-child + td { border:1px solid black }
    }
    & th {
      text-align:center;
      background:black;
      color:white;
    }
  }

.foo {
    color: blue;
& { padding: 2ch; }
}
.foo {
    color: blue;
&& { padding: 2ch; }
}
/* The parent selector can be arbitrarily complicated */
.error, #404 {
&:hover > .baz { color: red; }
}